#root{
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
.main{
 background: url('https://m.re-store.ru/promo/re-store-15years/images/shop-bg.jpg') no-repeat;
    background-size: cover;
  display: flex;
  flex-flow: column;
  height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}
#front-btn{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}